In [3]:
import pandas as pd
import numpy as np
from textblob import TextBlob

In [46]:
twitter_data_df = pd.read_csv('twitter_data.csv', index_col=False)

In [47]:
twitter_data_df = twitter_data_df.drop_duplicates('text')
twitter_data_df = twitter_data_df.reset_index()

In [48]:
scores = []
for i in range(len(twitter_data_df)):
    scores.append(TextBlob(twitter_data_df['text'][i]).sentiment)

In [49]:
sentiment = []
subjectivity = []
for score in scores:
    sentiment.append(score[0])
    subjectivity.append(score[1])

In [50]:
twitter_data_df['sentiment_scores'] = sentiment

In [51]:
twitter_data_df['subjectivity_scores'] = subjectivity

In [53]:
twitter_data_df['date']

pandas.core.series.Series

In [54]:
twitter_data_df.to_csv('twitter_sentiment_data.csv', index=False)

In [65]:
clean_dates = []
for i in range(len(twitter_data_df)):
    clean_dates.append(twitter_data_df['date'][i][4:10])

In [66]:
twitter_data_df['clean_dates'] = clean_dates

In [73]:
twitter_data_df = twitter_data_df[twitter_data_df.sentiment_scores != 0.0]

In [75]:
twitter_data_df = twitter_data_df.reset_index()

In [89]:
twitter_data_df['positive'] = twitter_data_df['sentiment_scores'] > 0
pd.DataFrame(twitter_data_df.groupby('clean_dates')['positive'].mean()).to_csv('twitter_sentiment_pos_ratio.csv')

In [90]:
twitter_data_df

,level_0,index,Unnamed: 0,date,text,sentiment_scores,subjectivity_scores,clean_dates,positive
0,0,0,0,Sun Jan 19 23:59:56 +0000 2020,RT @VOANews: China Reports 139 New Coronavirus...,0.136364,0.454545,Jan 19,True
1,1,1,1,Sun Jan 19 23:59:43 +0000 2020,RT @CBCAlerts: China is reporting 139 new case...,0.090909,0.303030,Jan 19,True
2,7,11,11,Sun Jan 19 23:59:09 +0000 2020,RT @ChannelNewsAsia: JUST IN: Third #WuhanPneu...,0.200000,0.500000,Jan 19,True
3,9,14,14,Sun Jan 19 23:58:56 +0000 2020,RT @MMKavanagh: Still true: border screenings ...,0.304762,0.576190,Jan 19,True
4,10,15,15,Sun Jan 19 23:58:54 +0000 2020,RT @WHO: #China🇨🇳 has reported to WHO 139 new ...,-0.056818,0.352273,Jan 19,False
5,11,17,17,Sun Jan 19 23:58:48 +0000 2020,RT @globaltimesnews: #Breaking: 136 more peopl...,0.345455,0.651515,Jan 19,True
6,12,21,21,Sun Jan 19 23:58:25 +0000 2020,JUST IN: Third #WuhanPneumonia death reported ...,0.200000,0.500000,Jan 19,True
7,13,25,25,Sun Jan 19 23:57:57 +0000 2020,2020-01-20 02:51:59 Health Commission of Guang...,0.400000,1.000000,Jan 19,True
8,14,27,27,Sun Jan 19 23:57:52 +0000 2020,RT @OliviaSiongCNA: Beijing has just confirmed...,0.200000,0.500000,Jan 19,True
9,15,29,29,Sun Jan 19 23:57:41 +0000 2020,Rapidly spreading: Chinese authorities confirm...,-0.021212,0.284848,Jan 19,False
10,16,30,30,Sun Jan 19 23:57:39 +0000 2020,"RT @Rover829: SHANGHAI, Jan 20 (Reuters) - Chi...",0.136364,0.454545,Jan 19,True
11,19,33,33,Sun Jan 19 23:57:30 +0000 2020,RT @MariettaDaviz: The true scale of the SARS-...,0.112500,0.787500,Jan 19,True
12,20,34,34,Sun Jan 19 23:57:28 +0000 2020,"China is reporting 139 new cases of pneumonia,...",0.090909,0.303030,Jan 19,True
13,21,35,35,Sun Jan 19 23:57:24 +0000 2020,RT @strangegarden7: Rapidly spreading: Chinese...,-0.021212,0.284848,Jan 19,False
14,23,38,38,Sun Jan 19 23:57:19 +0000 2020,RT @WHO: As more novel #coronavirus (2019-nCoV...,0.500000,0.500000,Jan 19,True
15,24,39,39,Sun Jan 19 23:57:17 +0000 2020,Rapidly spreading: Chinese authorities confirm...,-0.021212,0.284848,Jan 19,False
16,26,41,41,Sun Jan 19 23:57:12 +0000 2020,"RT @WHO: For the first time, there are novel #...",0.125000,0.191667,Jan 19,True
17,27,48,48,Sun Jan 19 23:56:43 +0000 2020,RT @CGTNOfficial: Beijing has confirmed that f...,0.325000,0.666667,Jan 19,True
18,28,49,49,Sun Jan 19 23:56:43 +0000 2020,RT @W7VOA: According to health officials in Wu...,0.136364,0.454545,Jan 19,True
19,29,52,52,Sun Jan 19 23:56:36 +0000 2020,RT @BNONews: BREAKING: Japan reports 1st case ...,0.045455,0.168182,Jan 19,True
20,30,53,53,Sun Jan 19 23:56:35 +0000 2020,RT @GordonGChang: The #WuhanPneumonia has now ...,0.318182,0.477273,Jan 19,True
21,31,54,54,Sun Jan 19 23:56:32 +0000 2020,RT @nytimes: Chinese authorities said on Sunda...,0.159091,0.488636,Jan 19,True
22,33,59,59,Sun Jan 19 23:56:16 +0000 2020,RT @WHO: Practise #FoodSafety:\nEven in areas ...,0.500000,0.500000,Jan 19,True
23,35,61,61,Sun Jan 19 23:56:08 +0000 2020,RT @WHO: Protect yourself &amp; others from ge...,-0.714286,0.857143,Jan 19,False
24,36,62,62,Sun Jan 19 23:56:04 +0000 2020,RT @OliviaSiongCNA: Beijing has just confirmed...,0.200000,0.500000,Jan 19,True
25,37,64,64,Sun Jan 19 23:56:01 +0000 2020,RT @Potrblog: Interesting that #Dogs / #DogMea...,0.250000,0.250000,Jan 19,True
26,38,65,65,Sun Jan 19 23:55:58 +0000 2020,RT @WHO: Protect others from getting sick:\n2⃣...,-0.307143,0.628571,Jan 19,False
27,39,66,66,Sun Jan 19 23:55:58 +0000 2020,RT @WHO: How to handwash?\nUse 🧼 and water for...,-0.300000,0.400000,Jan 19,False
28,41,72,72,Sun Jan 19 23:55:42 +0000 2020,RT @hayesluk: 59 new cases on 18th\n77 new cas...,0.029870,0.397186,Jan 19,True
29,43,74,74,Sun Jan 19 23:55:31 +0000 2020,RT @WHO: Wash your 🖐🏼 with 🧼 and running water...,-0.600000,0.800000,Jan 19,False
...,...,...,...,...,...,...,...,...,...
955,2917,3721,3721,Thu Feb 06 23:59:48 +0000 2020,Coronavirus MILITARY in hospital with caller b...,-0.100000,0.100000,Feb 06,False
956,2918,3722,3722,Thu Feb 06 23:59:48 +0000 2020,"""China Wants to Patent Gilead Drug to Fight Co...",0.100000,0.100000,Feb 06,True
957,2919,3723,3723,Thu Feb 06 23:59:48 +0000 2020,"RT @OfficialJoelF: Li Wenliang, the doctor who...",-0.200000,0.200000,Feb 06,False
958,2920,3725,3725,Thu Feb 06 23:59:48 +0000 2020,RT @CNN: The Chinese doctor who gave an early ...,0.033333,0.122222,Feb 06,True
959,2924,3731,3731,Thu Feb 06 23:59:47 +0000 2020,"RT @BNODesk: Coronavirus update:\n- 30,811 con...",0.400000,1.000000,Feb 06,True
960,2927,3734,3734,Thu Feb 06 23:59:47 +0000 2020,RT @WilliamYang120: Latest for @dw_chinese - I...,0.450000,0.800000,Feb 06,True
961,2929,3736,3736,Thu Feb 06 23:59:47 +0000 2020,WHISTLE-BLOWER. Li Wenliang – one of the first...,0.125000,0.200000,Feb 06,True
962,2933,3740,3740,Thu Feb 06 23:59:46 +0000 2020,RT @MailOnline: More than 30 crew members on b...,0.500000,0.500000,Feb 06,True
963,2935,3743,3743,Thu Feb 06 23:59:46 +0000 2020,RT @MAGA2ARIGHTS: Is This A Hospital Or A Coro...,-0.625000,1.000000,Feb 06,False
964,2936,3744,3744,Thu Feb 06 23:59:46 +0000 2020,RT @bmyska: I have absolutely NO confidence in...,0.200000,0.700000,Feb 06,True
965,2937,3745,3745,Thu Feb 06 23:59:46 +0000 2020,RT @BBCWorld: Coronavirus: Couple live-streams...,0.600000,1.000000,Feb 06,True
966,2938,3746,3746,Thu Feb 06 23:59:46 +0000 2020,RT @dmon4ever: #WuhanCoronavirus Update:\n\n#C...,-0.700000,0.666667,Feb 06,False
967,2942,3751,3751,Thu Feb 06 23:59:45 +0000 2020,RT @CoronaVirusFlu: Update: Another 10 passeng...,0.113636,0.647727,Feb 06,True
968,2945,3755,3755,Thu Feb 06 23:59:44 +0000 2020,RT @TarekFatah: Islamic cleric discovers a cur...,0.122222,0.355556,Feb 06,True
969,2946,3756,3756,Thu Feb 06 23:59:44 +0000 2020,Why has the lying spirit of the devil started ...,-0.166667,0.433333,Feb 06,False
970,2947,3757,3757,Thu Feb 06 23:59:44 +0000 2020,RT @MarshaBlackburn: While the police force re...,-0.116667,0.200000,Feb 06,False
971,2949,3759,3759,Thu Feb 06 23:59:44 +0000 2020,RT @BitterWinterMag: The Human Price of Wuhan’...,-0.130556,0.247222,Feb 06,False
972,2950,3760,3760,Thu Feb 06 23:59:44 +0000 2020,RT @globaltimesnews: Chinese doctor #LiWenlian...,-0.062500,0.187500,Feb 06,False
973,2955,3765,3765,Thu Feb 06 23:59:43 +0000 2020,RT @Jordan_Sather_: Seems like just a few days...,-0.200000,0.100000,Feb 06,False
974,2959,3769,3769,Thu Feb 06 23:59:43 +0000 2020,RT @KingstonPolice: Police warn public to be a...,0.125000,0.158333,Feb 06,True
975,2960,3770,3770,Thu Feb 06 23:59:43 +0000 2020,So sad: Coronavirus whistleblower Li Wenliang...,-0.250000,0.625000,Feb 06,False
976,2964,3774,3774,Thu Feb 06 23:59:43 +0000 2020,RT @ElliottZaagman: Every single post on my We...,-0.071429,0.214286,Feb 06,False
977,2968,3779,3779,Thu Feb 06 23:59:42 +0000 2020,RT @AliHashimSmith1: Today's #Coronavirus numb...,0.033333,0.833333,Feb 06,True
978,2971,3783,3783,Thu Feb 06 23:59:42 +0000 2020,RT @rickgladstone: The doc who alerted Wuhan a...,0.300000,0.950000,Feb 06,True
979,2972,3784,3784,Thu Feb 06 23:59:42 +0000 2020,More fires...the arson stats this year will ha...,0.500000,0.500000,Feb 06,True
980,2973,3787,3787,Thu Feb 06 23:59:42 +0000 2020,RT @Varun_Jhaveri: BIG News coming from China ...,-0.066667,0.350000,Feb 06,False
981,2976,3790,3790,Thu Feb 06 23:59:41 +0000 2020,RT @Feliciaaa_O: Pastor begins sales of ‘holy ...,-0.100000,0.000000,Feb 06,False
982,2979,3793,3793,Thu Feb 06 23:59:41 +0000 2020,RT @PDChinaBusiness: Nearly 200 million people...,0.175000,0.366667,Feb 06,True
983,2980,3794,3794,Thu Feb 06 23:59:41 +0000 2020,RT @DRIVELIKEIDOPML: BREAKING NEWS: Eminem has...,0.250000,0.333333,Feb 06,True
984,2982,3796,3796,Thu Feb 06 23:59:41 +0000 2020,For those worried about the Corona_virus: read...,-0.357143,0.428571,Feb 06,False

In [118]:
corona_df = pd.read_csv('clean_2019nCoV_geo.csv')

In [119]:
new_date_list = []
for date in corona_df['Date']:
    if date[3] != '/':
        new_date_list.append(date[:4])
    else:
        new_date_list.append(date[:3])
new_date_list
corona_df['Date'] = new_date_list

In [128]:
corona_df[corona_df['Region']=='Mainland China'] = 'China'

     Unnamed: 0     Region  Date  Confirmed  Recovered  Deaths
0             1  Australia  1/23          0          0       0
1             2  Australia  1/25          1          0       0
2             3  Australia  1/26          4          0       0
3             4  Australia  1/27          5          0       0
4             5  Australia  1/28          5          0       0
5             6  Australia  1/29          5          0       0
6             7  Australia  1/30          9          2       0
7             8  Australia  1/31          9          2       0
8             9  Australia   2/1         12          2       0
9            10  Australia   2/2         12          2       0
10           11  Australia   2/3         12          2       0
11           12  Australia   2/4         13          2       0
12           13  Australia   2/5         13          2       0
13           14  Australia   2/6         14          2       0
14           15  Australia   2/7         15          2       0
15           16    Belgium   2/4          1          0       0
16           17    Belgium   2/5          1          0       0
17           18    Belgium   2/6          1          0       0
18           19    Belgium   2/7          1          0       0
19           20     Brazil  1/23          0          0       0
20           21   Cambodia  1/27          1          0       0
21           22   Cambodia  1/28          1          0       0
22           23   Cambodia  1/29          1          0       0
23           24   Cambodia  1/30          1          0       0
24           25   Cambodia  1/31          1          0       0
25           26   Cambodia   2/1          1          0       0
26           27   Cambodia   2/2          1          0       0
27           28   Cambodia   2/3          1          0       0
28           29   Cambodia   2/4          1          0       0
29           30   Cambodia   2/5          1          0       0
..          ...        ...   ...        ...        ...     ...
330         331         US  1/25          2          0       0
331         332         US  1/26          3          0       0
332         333         US  1/27          5          0       0
333         334         US  1/28          5          0       0
334         335         US  1/29          5          0       0
335         336         US  1/30          5          0       0
336         337         US  1/31          7          0       0
337         338         US   2/1          7          0       0
338         339         US   2/2          8          0       0
339         340         US   2/3         11          0       0
340         341         US   2/4         11          0       0
341         342         US   2/5         11          0       0
342         343         US   2/6         12          0       0
343         344         US   2/7         12          0       0
344         345    Vietnam  1/23          2          0       0
345         346    Vietnam  1/24          2          0       0
346         347    Vietnam  1/25          2          0       0
347         348    Vietnam  1/26          2          0       0
348         349    Vietnam  1/27          2          0       0
349         350    Vietnam  1/28          2          0       0
350         351    Vietnam  1/29          2          0       0
351         352    Vietnam  1/30          2          0       0
352         353    Vietnam  1/31          2          0       0
353         354    Vietnam   2/1          6          1       0
354         355    Vietnam   2/2          6          1       0
355         356    Vietnam   2/3          8          1       0
356         357    Vietnam   2/4          8          1       0
357         358    Vietnam   2/5          8          1       0
358         359    Vietnam   2/6         10          1       0
359         360    Vietnam   2/7         10          1       0

[360 rows x 6 columns]

In [134]:
other_countries_df = corona_df[corona_df['Region']!='China']
other_countries_df = other_countries_df.reset_index()
date_grouped_countries_df = pd.DataFrame(other_countries_df.groupby('Date').sum())
date_grouped_countries_df.to_csv('corona_others_date_aligned.csv')

In [135]:
corona_df[corona_df['Region']=='China'].to_csv('corona_china_date_aligned.csv')

In [140]:
other_countries_df.to_csv('temp_corona_others.csv')

In [148]:
other_countries_df= pd.read_csv('temp_corona_others.csv')
date_grouped_countries_df = pd.DataFrame(other_countries_df.groupby('Date').sum())
date_grouped_countries_df.to_csv('corona_others_date_aligned.csv')

In [175]:
corona_df[corona_df['Region']=='China']

     Unnamed: 0 Region  Date  Confirmed  Recovered  Deaths
147         148  China  1/22        327          0       6
148         149  China  1/22        549          0       9
149         150  China  1/23        639         30      18
150         151  China  1/24        865         34      26
151         152  China  1/25       1320         38      41
152         153  China  1/26       2062         49      56
153         154  China  1/27       2825         56      81
154         155  China  1/28       4610         73     106
155         156  China  1/29       6070        106     132
156         157  China  1/30       8124        135     171
157         158  China  1/31       9783        214     213
158         159  China   2/1      11860        275     259
159         160  China   2/2      16643        463     361
160         161  China   2/3      20400        635     425
161         162  China   2/4      24290        890     490
162         163  China   2/5      24405       1020     492
163         164  China   2/6      28088       1371     563
164         165  China   2/7      31215       1750     636

In [180]:
corona_df[corona_df['Region']=='China']['Recovered']
[0,0,0,30,34,38,49,56,73,106,135,214,275,463,65,890,1020,1371,1750]

147       0
148       0
149      30
150      34
151      38
152      49
153      56
154      73
155     106
156     135
157     214
158     275
159     463
160     635
161     890
162    1020
163    1371
164    1750
Name: Recovered, dtype: int64

In [153]:
twitter_sentiments = pd.read_csv('twitter_sentiment_pos_ratio.csv')

In [163]:
twitter_sentiments

   clean_dates  positive
0          2/1  0.742424
1          2/2  0.686275
2          2/3  0.590909
3          2/4  0.688525
4          2/5  0.615385
5          2/6  0.537500
6         1/19  0.775510
7         1/20  0.793103
8         1/21  0.836735
9         1/22  0.638298
10        1/23  0.571429
11        1/24  0.615385
12        1/25  0.685185
13        1/26  0.666667
14        1/27  0.630435
15        1/28  0.638298
16        1/29  0.682927
17        1/30  0.692308
18        1/31  0.606557

In [168]:
positive_list = list(twitter_sentiments['positive'])
recover_list = [12,12,12,12,12,14,16,0,0,0,0,0,0,3,3,6,6,8,8]
deaths_list = [0,1,1,2,2,2,2,0,0,0,0,0,0,0,0,0,0,0,0]
np.corrcoef(positive_list, deaths_list)

array([[ 1.        , -0.14499143],
       [-0.14499143,  1.        ]])

In [172]:
pd.read_csv('weibo.csv')

    Date  Sentiment
0   1/19   0.588235
1   1/20   0.469799
2   1/21   0.550336
3   1/22   0.537037
4   1/23   0.628571
5   1/24   0.647799
6   1/25   0.585034
7   1/26   0.663866
8   1/27   0.685714
9   1/28   0.682432
10  1/29   0.650000
11  1/30   0.719298
12  1/31   0.414894
13   2/1   0.696970
14   2/2   0.668571
15   2/3   0.762821
16   2/4   0.664740
17   2/5   0.765101
18   2/6   0.658960

In [181]:
deaths_list = [0,6,9,18,26,41,56,81,106,132,171,213,259,361,425,490,492,563,636]
recovered_list = [0,0,0,30,34,38,49,56,73,106,135,214,275,463,65,890,1020,1371,1750]
np.corrcoef(pd.read_csv('weibo.csv')['Sentiment'], recovered_list)

array([[1.        , 0.43046236],
       [0.43046236, 1.        ]])